{% extends 'base.html' %}
{% block content %}
<h2>Nuevo Requisito</h2>
<form method="POST">
    <label>Título:</label><br>
    <input type="text" name="title"><br><br>

    <label>Descripción:</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Prioridad:</label><br>
    <select name="priority">
        <option>Alta</option>
        <option>Media</option>
        <option>Baja</option>
    </select><br><br>

    <label for="category">Categoría:</label>
    <select name="category_id" required>
       {% for category in categories %}
       <option value="{{ category.id }}">{{ category.name }}</option>
       {% endfor %}
    </select><br><br>

    <label for="user">Usuario:</label>
    <select name="user_id" required>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Guardar</button>
</form>
{% endblock %}
